 <!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Fantasy Surfing Tips</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Fantasy Surfing Tips</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="/fantasy-simulator.html">Fantasy Simulator</a>
                </li>
                <li class="page-scroll">
                    <a class="dropdown-toggle" data-toggle="dropdown"  href="#">Stat Ranks <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/surfers/rank/mct/2018">MCT</a></li>
                      <li><a href="/surfers/rank/mqs/2018">MQS</a></li>
                      <li><a href="/surfers/rank/mjun/2018">MJUN</a></li>
                      <li><a href="/surfers/rank/mlt/2018">MLT</a></li>
                      <li><a href="/surfers/rank/mbwt/2017">MBWT</a></li>
                      <li class="divider"></li>
                      <li><a href="/surfers/rank/wct/2018">WCT</a></li>
                      <li><a href="/surfers/rank/wqs/2018">WQS</a></li>
                      <li><a href="/surfers/rank/wjun/2018">WJUN</a></li>
                      <li><a href="/surfers/rank/wlt/2018">WLT</a></li>
                      <li><a href="/surfers/rank/wbwt/2017">WBWT</a></li>

                    </ul>
                </li>

                <li class="dropdown" id="accountmenu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/events/mct/2018">MCT</a></li>
                      <li><a href="/events/mqs/2018">MQS</a></li>
                      <li><a href="/events/mjun/2018">MJUN</a></li>
                      <li><a href="/events/mlt/2018">MLT</a></li>
                      <li><a href="/events/mbwt/2017">MBWT</a></li>
                      <li class="divider"></li>
                      <li><a href="/events/wct/2018">WCT</a></li>
                      <li><a href="/events/wqs/2018">WQS</a></li>
                      <li><a href="/events/wjun/2018">WJUN</a></li>
                      <li><a href="/events/wlt/2018">WLT</a></li>
                      <li><a href="/events/wbwt/2016">WBWT</a></li>

                    </ul>
                </li>
                <li class="page-scroll">
                    <a href="https://medium.com/surf-metrics">Blog</a>
                </li>
                <li class="page-scroll">
                    <a href="/women">Women's</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>